<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <title>Shortly</title>
  </head>
  <body>
    <div class="container">
      <nav class="menu">
        <img class="logo" src="/images/logo.svg" alt="">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </nav>
      <div class="desktop-menu">
        <ul>
          <li>
            <% if (authenticated) { %>
              <a href="/oauth/logout">
                <button class="login-btn">Logout</button>
              </a>
            <% } else { %>
              <a href="/oauth/google">
                <button class="login-btn">Login</button>
                <li><a href="/signup"><button class="signup-btn">Sign Up</button></a></li>
              </a>
            <% } %>
          </li>
        </ul>
      </div>


      <div class="mobile-menu">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Resources</a></li>
          <li>
            <% if (authenticated) { %>
              <a href="/oauth/logout">
                <button class="login-btn">Logout</button>
              </a>
            <% } else { %>
              <a href="/oauth/google">
                <button class="login-btn">Login</button>
                <li><a href="/signup"><button class="signup-btn">Sign Up</button></a></li>
              </a>
            <% } %>
          </li>
        </ul>
      </div>
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  
    <section class="main-body">
      <div class="text">
        <h1 class="main-text-header">More than just shorter links</h1>
        <p class="main-text">Build your brand's recognition and get detailed insight on how your links are performing.</p>
        <button class="getStarted">Get Started</button>
      </div>
      <div class="img-container">
        <img class="img-working" src="/images/illustration-working.svg" alt="">
      </div>
    </section>
    
    <section class="form-section">
      <img src="/images/bg-boost-desktop.svg" alt="">
      <form action="/" method="post" class="form">
        <input type="url" name="url" placeholder="Enter a URL here...">
        <button class="shorten">Shorten it!</button>
      </form>
    </section>

    <section class="url-section" data-current-page="<%= currentPage %>" data-total-pages="<%= totalPages %>" >
      <% shortUrl.forEach(shortUrl => { %>  
        <div class="url-container">
            <span class="url"><a href="<%= shortUrl.url %>"><%= shortUrl.url %></a></span>
            <div class="url-display">
              <span class="short-url"><a href="<%= shortUrl.url_shortid %>"><%= shortUrl.url_shortid %></a></span>
              <button class="copy-button">Copy</button>
            </div>
        </div>
      <% }) %>
    </section>

    <div class="load-btn-div">
      <button class="load">Load More</button>
    </div>
    
    <section class="body-header-section">
      <div class="body-header">
        <h3 class="body-header-main"> Advanced Statistics</h3>
        <p class="body-header-text">Track how your links are performing across the web with<br>our advanced statistics dashboard</p>
      </div>
    </section>

    <section class="body-info-section">
      <div class="body-info-card">
        <img src="/images/icon-brand-recognition.svg" alt="">
        <div class="body-card-text">
          <h4>Brand Recognition</h4>
          <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
        </div>
      </div>

      <div class="body-info-card">
        <img src="/images/icon-detailed-records.svg" alt="">
        <div class="body-card-text">
          <h4>Detailed Records</h4>
          <p>Gain insight into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
        </div>
      </div>

      <div class="body-info-card">
        <img src="/images/icon-fully-customizable.svg" alt="">
        <div class="body-card-text">
          <h4>Fully Customizable</h4>
          <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>
      </div>
    </section>

    <section class="footer-start">
      <img src="/images/bg-boost-desktop.svg" alt="">
      <div class="footer-start-text">
        <span>Boost your links today</span>
        <button class="footer-btn">Get Started</button>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>